---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePostList from "../layouts/ArchivePostList.astro";
---

<BaseLayout primaryTitle="404 Not Found">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <div class="stack gap-2">
		        <h1 class="title">404 Not Found</h1>
	      </div>
        <h4 class="tag-post-list">来到了一片荒原，这里什么都没有。</h4>
      </div>
    </div>
  </section>
</BaseLayout>
