---
import "../styles/global.css";
import { SITE_TITLE } from "../consts";
---


<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/" class="nav-title" style="font-size: 24px;">{SITE_TITLE}</a>
        <!-- <a href="" class="nav-title" style="font-weight: bolder; font-size: 5px; color: rgba(33, 26, 26, 0.39);">{"手机用户建议电脑模式阅读"}</a> -->
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/archive" class="nav-item-content">目录</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/about" class="nav-item-content">关于</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/rss.xml" class="nav-item-content" target="_blank">RSS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>